<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>AA 241x Team Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
</head>

<body>
<div class="container main-container">
    <div class="row">
        <h1>
            AA241x Admin Page
        </h1>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="container">
                <div class="row">
                    <table id="table_id" class="display compact">
                        <thead>
                        <tr>
                            <th>Team ID</th>
                            <th>Drone ID</th>
                            <th>Current Port</th>
                            <th>Next Port</th>
                            <th>Status</th>
                            <th>Earnings</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <table id="table_trip" class="display compact">
                        <thead>
                        <tr>
                            <th>Trip ID</th>
                            <th>Current Port</th>
                            <th>Next Port</th>
                            <th>Status</th>
                            <th>Distance</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Team ID</td>
                            <td>Current Port</td>
                            <td>Next Port</td>
                            <td>Status</td>
                            <td>Distance</td>
                            <td>Price</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
            <canvas id="c" width="500" height="500">
            </canvas>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.22/fabric.min.js"></script>

<script>

    function _createArrowHead(points, color) {
        var headLength = 15,

            x1 = points[0],
            y1 = points[1],
            x2 = points[2],
            y2 = points[3],

            dx = x2 - x1,
            dy = y2 - y1,

            angle = Math.atan2(dy, dx);

        angle *= 180 / Math.PI;
        angle += 90;

        var triangle = new fabric.Triangle({
            angle: angle,
            fill: color,
            top: y2,
            left: x2,
            height: headLength,
            width: headLength,
            originX: 'center',
            originY: 'center',
            selectable: false
        });

        return triangle;
    }


    function createLineArrow(points, color) {
        var line = new fabric.Line(points, {
            strokeWidth: 5,
            stroke: color,
            originX: 'center',
            originY: 'center',
            hasControls: false,
            hasBorders: false,
            hasRotatingPoint: false,
            hoverCursor: 'default',
            selectable: false
        });

        return [line, _createArrowHead(points, color)];
    }


    $(document).ready(function() {
        let table = $("#table_id").DataTable({
            paging: false,
            searching: false,
            info: false,
            ajax: 'teams',
            columns: [ { "data": "team_id"}, { "data": "drone_id"}, { "data": "curr_port"},
                { "data": "next_port"}, { "data": "state"}, { "data": "profit"}]
        });

        $("#table_trip").DataTable({
            paging: false,
            searching: false,
            info: false,
            ajax: {
                url: 'trips',
                data: {
                    team_id: 1, drone_id: 0
                }
            },
            columns: [ { "data": "trip_id"}, { "data": "from_port"},
                { "data": "to_port"}, { "data": "state"}, { "data": "distance"}, { "data": "price"}, ]
        });

        setInterval( function () {
            table.ajax.reload();
        }, 2000 );

        let canvas = new fabric.StaticCanvas('c', {
            backgroundColor : "#fff",
        });
        canvas.setBackgroundImage("{{ url_for('static', filename='lakelag.jpg')}}", canvas.renderAll.bind(canvas));

        let points = {
            1: {x: 50, y: 40}, // elliott
            2: {x: 205, y: 50}, // lagunita
            3: {x: 25, y: 190}, // golf
            4: {x: 50, y: 340}, // serra
            5: {x: 185, y: 415} // trail
        };

        let colors = {
            1: 'red',
            2: 'green',
            3: 'blue',
            4: 'violet',
            5: 'orange'
        };

        let shapes = [];

        setInterval( function() {
            $.ajax({
                type: 'GET',
                cache: false,
                url: 'teams',
                dataType: 'json',
                success: function (json) {
                    let arr = json.data;
                    for (let i = 0; i < shapes.length; i++) {
                        canvas.remove(shapes[i]);
                    }
                    shapes = [];

                    for (let i = 0; i < arr.length; i++) {
                        if (arr[i].state === 'land') {
                            let curr_port = points[arr[i].curr_port];
                            let trig = new fabric.Triangle({
                                top: curr_port.y,
                                left: curr_port.x,
                                fill: colors[arr[i].team_id],
                                height: 15,
                                width: 15
                            });
                            shapes.push(trig);
                            canvas.add(trig);
                        } else {
                            let curr_port = points[arr[i].curr_port],
                                next_port = points[arr[i].next_port];
                            let arrow = createLineArrow(
                                [curr_port.x, curr_port.y, next_port.x, next_port.y],
                                colors[arr[i].team_id]
                            );
                            shapes = shapes.concat(arrow);
                            canvas.add(arrow[0], arrow[1]);
                        }
                    }
                },
                error: function(xhr) {
                    alert('error');
                }
            })
        }, 2000);
    });
</script>
</body>