<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>AA 241x Team Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="container main-container">
    <div class="row">
        <h1>
            AA241x Team Page
        </h1>
    </div>

    <div class="row">
        <h2>
            Team Earning: $<span id="earning"></span>
        </h2>
    </div>

    <div class="row">
        <div class="col-sm">
            <div class="card">
                <!-- div class="card-header">
                    Featured
                </div -->
                <div class="card-body">
                    <h4 class="card-title">Next port</h4>
                    <p class="card-text text-center"><span style="font-size: 8em">&nbsp;</span><span style="font-size: 8em" id="span-next">N/A</span></p>
                    <p class="card-text text-center">Altitude: <span id="span-altitude">N/A</span> m</p>
                    <!-- a href="#" class="btn btn-primary">Go somewhere</a -->
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm input-group">
            <input type="text" class="form-control" placeholder="Team ID" aria-label="Team ID" aria-describedby="basic-addon2" id="team-id"
                    {% if team_id %}
                        value="{{ team_id }}"
                   {% endif %}
            >
            <input type="text" class="form-control" placeholder="Drone ID" aria-label="Drone ID" aria-describedby="basic-addon2" id="drone-id"
                   {% if drone_id %}
                        value="{{ drone_id }}"
                   {% endif %}
            >
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-start">Start</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm btn-group d-flex toolbar">
            <button type="button" class="btn btn-primary w-100" id="button-takeoff">Confirm Takeoff</button>
            <button type="button" class="btn btn-primary w-100" id="button-land">Confirm Landing</button>
            <button type="button" class="btn btn-outline-secondary w-100" id="button-failure">Failure (Reset Drone)</button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <div class="card">
              <h4 class="card-header">Instructions</h4>
              <div class="card-body">
                  For each task, please follow the following instructions:
                  <ol>
                      <li>Set the departure port, destination port, and altitude on your mobile app.</li>
                      <li>Command the drone to take off using your mobile app.</li>
                      <li>When the drone has taken off, click "Confirm takeoff" on this page to confirm that the flight has begun.</li>
                      <li>When the drone has landed at its destination, click “Confirm landing” on this page.</li>
                  </ol>
              </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">Results</h5>
                </div>
                <div class="modal-body" id="modal-body">
                    <p>This is a small modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="inputModal" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Reset drone state</h5>
                </div>
                <div class="modal-body">
                    <p>Your drone state will be reset to the previous source port. Please click on "Confirm" to continue. </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="reset-button">Confirm</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
    let intervalId;
    let portName = {
        1: 'Lagunita',
        2: 'Elliott',
        3: 'Golf',
        4: 'Serra',
        5: 'Trail'
    };

    $('#button-start').on('click', function (event) {
        if (!intervalId) {
            intervalId = setInterval(function () {
                let team_id = $('#team-id').val();
                let drone_id = $('#drone-id').val();
                console.log(team_id + " " + drone_id);
                $.ajax({
                    type: 'GET',
                    cache: false,
                    url: 'next',
                    data: {
                        team_id,
                        drone_id
                    },
                    dataType: 'json',
                    success: function (json) {
                        if (json.status === 'ok') {
                            let span_next = $('#span-next');
                            let previous = span_next.html();
                            let next_text = json.next + " " + portName[json.next];
                            span_next.html(next_text);
                            $('#span-altitude').html(json.altitude);
                            if (previous != next_text) {
                                // add some animation effects
                                $('#span-next').fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500);
                                setTimeout(function(){$('#span-next').stop();}, 5000);
                            }
                        }
                        else {
                            $('#span-next').html("N/A");
                            $('#span-altitude').html("N/A");
                        }
                    },
                    error: function(xhr) {
                        alert('error');
                    }
                });

                $.ajax({
                    type: 'GET',
                    cache: false,
                    url: 'earning',
                    dataType: 'json',
                    success: function (json) {
                        $('#earning').html(Number(json[team_id]).toFixed(2));
                    },
                    error: function(xhr) {
                        alert('error');
                    }
                });
            }, 1500);
            $("#modal-title").html('Instructions for teams');
            $("#modal-body").html('For each task, please follow the following instructions: ' +
                '<ol>' +
                '<li>Set the departure port, destination port, and altitude on your mobile app.</li>' +
                '<li>Command the drone to take off using your mobile app.</li>' +
                '<li>When the drone has taken off, click "Confirm takeoff" on this page to confirm that the flight has begun.</li>' +
                '<li>When the drone has landed at its destination, click “Confirm landing” on this page.</li>' +
                '</ol>');
            $("#myModal").modal();
        } else {
            window.clearInterval(intervalId);
            intervalId = null;
        }
    });

    $('#button-takeoff').on('click', function(event) {
        let team_id = $('#team-id').val();
        let drone_id = $('#drone-id').val();
        $.ajax({
            type: 'GET',
            cache: false,
            url: 'takeoff',
            data: {
                team_id,
                drone_id
            },
            dataType: 'json',
            success: function (json) {
                if (json.status === 'ok') {
                    $("#modal-title").html('Takeoff successfully confirmed');
                    $("#modal-body").html('After the drone lands at destination port, please click on "Confirm Landing" button on the screen, to get ' +
                        'new destination port information. If your drone fails, please click on "Failure" button to reset the state.');
                    $("#myModal").modal();
                }
                else {
                    $("#modal-title").html('Takeoff confirmation error');
                    $('#modal-body').html(json.msg);
                    $("#myModal").modal();
                }
            },
            error: function(xhr) {
                alert('error');
            }
        });
    });

    $('#button-land').on('click', function(event) {
        let team_id = $('#team-id').val();
        let drone_id = $('#drone-id').val();
        $.ajax({
            type: 'GET',
            cache: false,
            url: 'land',
            data: {
                team_id,
                drone_id
            },
            dataType: 'json',
            success: function (json) {
                if (json.status === 'ok') {
                    $("#modal-title").html('Landing confirmed');
                    $("#modal-body").html('<p>After landing you will see a new destination port on your screen. Please set the departure port, ' +
                        'destination port, and altitude on your mobile app.</p>' +
                        '<p> Then command the drone to take off using your mobile app. </p>' +
                        '<p> When the drone has taken off, click "Confirm takeoff" on this page to confirm that the flight has begun. </p>');
                    $("#myModal").modal();
                }
                else {
                    $("#modal-title").html('Landing confirmation error');
                    $('#modal-body').html(json.msg);
                    $("#myModal").modal();
                }
            },
            error: function(xhr) {
                alert('error');
            }
        });
    });

    $("#reset-button").on('click', function() {
        let team_id = $('#team-id').val();
        let drone_id = $('#drone-id').val();
        $.ajax({
            type: 'GET',
            cache: false,
            url: 'fail',
            data: {
                team_id,
                drone_id
            },
            dataType: 'json',
            success: function (json) {
                if (json.status === 'ok') {
                    $("#modal-title").html('Drone status reset confirmed');
                    $("#modal-body").html('Please move your drone to the source port, and restart your previous trip. After the drone has taken off,' +
                        'please click on "Confirm takeoff" again. ');
                    $("#myModal").modal();
                }
                else {
                    $("#modal-title").html('Status reset error');
                    $('#modal-body').html(json.msg);
                    $("#myModal").modal();
                }
            },
            error: function(xhr) {
                alert('error');
            }
        });
    });

    $('#button-failure').on('click', function(event) {
        $("#inputModal").modal();
    });
</script>
</body>